/* Global Styles */
body {
    background-color: #f16a6a;
    display: flex;
    justify-content: center;
    gap: 2rem;
    columns: 3;
}

li {
    list-style-type: none;
}

/* Header Styles */
header {
    background-color: #ffffff;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
}

.navbar-links {
    display: flex;
    gap: 16px;
}

/* Navigation Links Styles */
li {
    color: #e1e1e6;
    font-size: 20px;
    transition: color 0.1s;
}

a {
    text-decoration: none;
    color: inherit;
}

li.active,
li:hover {
    color: #000000;
}

li a {
    padding: 8px;
    background-color: rgb(168, 0, 0);
    border-radius: 2rem;
}

/* Card Styles */
.card__listar,
.card__inserir,
.card__buscar {
    --gray: rgba(229, 231, 235, 1);
    width: auto;
    height: auto;
    display: flex;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 6rem;
}

/* List Styles */
.lista {
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease;
}

/* Input Group Styles */
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

/* Input Styles */
input,
select {
    background-color: #f5d3d3;
    margin: 20px 0;
    padding: 15px 0px;
    font-size: 13px;
    width: 100%;
    outline: black;
}

input:hover {
    background-color: #f68585;
}